/* App.css */

/* Set the background color for the whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000; /* Black background */
  color: #fff; /* White text for better contrast */
  font-family: 'Roboto', sans-serif; /* Ensure Roboto is applied */
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navigation {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #000000; /* Darker background for navigation */
}

.nav-link {
  color: #ff6200; /* Bright orange for links */
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #ff6200; /* Slightly lighter shade on hover */
  text-decoration: underline; /* Add underline on hover */
}

/* Main Content Styling */



/* Footer styling */
footer {
  text-align: center;
  margin-top: auto;
  color: #ffffff;
}
